/*Layout 2*/

.page-container-bg-solid .page-content {
    background-color: #f4f4f4!important
}


/*Layout 3*/

.page-content {
    background-color: #f4f4f4;
}

.page-head {
    border-bottom: 1px solid #E9E9E9;
}

.page-header {
  height: auto;
}

.container-fluid {
  /* max-width: 1390px; */
}

.page-header .page-header-top .top-menu .navbar-nav>li.dropdown-separator .separator {
    height: 75px;
    margin-top: 0px;
}

.page-header .page-header-top .page-logo .logo-default {
  min-width: 290px;
  padding-top: 5px;
}

.padding-top {
  padding-top: 10px !important;
}

.portlet.light.bordered {
    border: 1px solid #E9E9E9!important
}

.page-content {
    min-height: 650px;
}

.dx-overlay-shader {
    background-color: rgba(0, 0, 0, .3);
}

.dx-field-item-label-text {
    /*font-weight: 670;*/
    font-weight: bold;
    color: #888;
}

.dx-popup-title.dx-toolbar {
    background-color: #efefef;
}


/*.dx-texteditor{
  border-radius: 0px;
}*/

#btnAdicionarItemSolicitacao {
    margin-top: 20px;
    /*padding-top: 5px;
    padding-bottom: 6px;*/
}

#popup {
    padding: 10px;
}

#popup ul {
    list-style-type: none;
    text-align: center;
}

#popup ul li {
    display: inline-block;
    width: 160px;
    margin: 10px;
}

#popup ul li img {
    width: 100px;
}

.button-info {
    margin: 10px;
}

.popup p {
    margin-bottom: 10px;
    margin-top: 0;
}

.dx-texteditor-input {
    padding: 5px 9px 5px;
    /*background: #fff;
    border:1px solid #8282FF;*/
}

.dx-lookup-field {
    padding: 4px 34px 4px 9px;
    font-size: 1em;
}


/*.dx-form-group-with-caption .dx-form-group-content {
    padding-bottom: 8px;
    padding-top: 8px;
}*/

.label-modify {
    /*padding: 3px 15px 3px 0;*/
    /*color: #f00;*/
    font-size: 12px;
}

.label-value-modify {
    /*padding: 3px 15px 3px 0;*/
    font-weight: bold;
    font-size: 12px;
}


/*.cal {}*/

.rows {
    float: left;
    margin-bottom: 0px;
}

.fileuploader-container {
    border: 1px outset #d3d3d3;
    border-style: dashed;
    margin-top: 20px;
    background-color: #f5f2f2;
}


/*.teste-fundo {
    min-height: 500px;
}*/

#texto-documento {
    z-index: 10 !important;
}

#img-marca-dagua {
    z-index: -10;
}

.font-documento {
    font-family: "Times New Roman", Times, serif;
}

.my-container {
    position: relative;
    background: #FFF;
    overflow: hidden;
    /*min-height: 540px;*/
}

.my-container:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 300px;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .1;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Bras%C3%A3o_do_Piau%C3%AD.svg/260px-Bras%C3%A3o_do_Piau%C3%AD.svg.png');
    background-repeat: no-repeat;
    background-position: center;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.width-100 {
    width: 100%;
}

#conteudo_pdf {
    background-color: #fff;
}

.buttonFormAdd {
    margin-top: 22px;
    padding-left: 0 !important;
}

.selectFormAdd {
    padding-right: 0 !important;
}
