<!DOCTYPE html>
<!--[if IE 8]> <html lang="pt" class="ie8 no-js" data-ng-app="StmWeb"> <![endif]-->
<!--[if IE 9]> <html lang="pt" class="ie9 no-js" data-ng-app="StmWeb"> <![endif]-->
<!--[if !IE]><!-->
<html lang="pt" data-ng-app="SimplesApp">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <title data-ng-bind="'Docam | ' + $state.current.data.pageTitle"></title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="Abracam - Associacao Brasileira de Camaras Municipais" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" /> -->
    <!-- <link href="../assets/global/plugins/angular-material/angular-material.min.css" rel="stylesheet" type="text/css" /> -->
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN DYMANICLY LOADED CSS FILES(all plugin and page related styles must be loaded between GLOBAL and THEME css files ) -->
    <link id="ng_load_plugins_before" />
    <!-- END DYMANICLY LOADED CSS FILES -->
    <!-- BEGIN THEME STYLES -->
    <!-- DOC: To use 'rounded corners' style just load 'components-rounded.css' stylesheet instead of 'components.css' in the below style tag -->
    <link href="../assets/global/css/components.min.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="../assets/global/css/plugins-md.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/layouts/layout3/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/layouts/layout3/css/themes/default.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="../assets/layouts/layout3/css/custom.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/simplesi/css/custom.css" rel="stylesheet" type="text/css" />

    <link href="../lib/devexpress/css/dx.common.css" rel="stylesheet" type="text/css" />
    <link href="../lib/devexpress/css/dx.light.css" rel="stylesheet" type="text/css" />
    <link href="../lib/sweetalert/dist/sweetalert.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link href="css/org_chart01.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />

</head>

<!-- END HEAD -->
<!-- BEGIN BODY -->

<body ng-controller="ApplicationController" class="page-header-menu-fixed page-on-load page-md">
    <!-- {{settings.layout.containerFluid}} -->


    <!-- BEGIN POPUPS -->
    <!-- <div class="popup2" dx-popup="PopupExercicio">
        <div data-options="dxTemplate: { name:'info' }">
            <div class="dx-field">
                <div class="dx-field-label" ng-bind="fieldLabelAno"></div>
                <div class="dx-field-value">
                    <div dx-select-box="selectBoxExercicio"></div>
                </div>
            </div>
            <div class="dx-field">
                <div class="dx-field-label" ng-bind="fieldLabelMes"></div>
                <div class="dx-field-value">
                    <div dx-select-box="selectBoxCompetencia"></div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- Muda Empresas -->
    <div class="popup2" dx-popup="PopupEmpresa">
        <div data-options="dxTemplate: { name:'infoEmpresa' }">
            <div class="dx-field-label" ng-bind="fieldLabelEmpresa"></div>
            <div class="dx-field-value">
                <div dx-select-box="selectBoxEmpresa"></div>
            </div>
        </div>
    </div>

    <!-- Novo competencia -->
    <div dx-popup="PopupNovoExercicio">
        <div data-options="dxTemplate: { name:'PopupNovoExercicio' }">

            <div class="dx-field-label" ng-bind="fieldLabelAno"></div>
            <div class="dx-field-value">
                <div ng-model="novoExercicio" dx-number-box="numberBoxNovoExercicio"></div>
            </div>
        </div>
    </div>
    </div>
    <!-- END POPUPS -->

    <div ng-if="!!autenticado">
        <!-- BEGIN PAGE SPINNER -->
        <div ng-spinner-bar class="page-spinner-bar">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
        <!-- END PAGE SPINNER -->
        <!-- BEGIN HEADER -->
        <div data-ng-include="'../assets/simplesi/tpl/header-docam-back.html'" data-ng-controller="HeaderController" class="page-header"> </div>
        <!-- END HEADER -->
        <div class="clearfix"> </div>
        <!-- BEGIN CONTAINER -->

        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            <div data-ng-include="'../assets/simplesi/tpl/page-head.html'" data-ng-controller="PageHeadController" class="page-head"> </div>
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content">
                <div ng-class="{'container-fluid': settings.layout.containerFluid, 'container': !settings.layout.containerFluid}">
                    <!-- BEGIN STYLE CUSTOMIZER(optional) -->
                    <!-- <div data-ng-include="'tpl/theme-panel.html'" data-ng-controller="ThemePanelController" class="theme-panel hidden-xs hidden-sm"> </div> -->
                    <!-- END STYLE CUSTOMIZER -->
                    <!-- BEGIN ACTUAL CONTENT -->
                    <div ui-view class="fade-in-up"> </div>
                    <!-- END ACTUAL CONTENT -->
                </div>
            </div>
            <!-- END CONTENT -->

            <!-- BEGIN QUICK SIDEBAR -->
            <!-- <a href="javascript:;" class="page-quick-sidebar-toggler">
                <i class="icon-login"></i>
            </a>
            <div data-ng-include="'tpl/quick-sidebar.html'" data-ng-controller="QuickSidebarController" class="page-quick-sidebar-wrapper"></div> -->
            <!-- END QUICK SIDEBAR -->
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        <div data-ng-include="'../assets/simplesi/tpl/footer.html'" data-ng-controller="FooterController"> </div>
        <!-- END FOOTER -->
    </div>
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE JQUERY PLUGINS -->
    <!--[if lt IE 9]>
    <script src="../assets/global/plugins/respond.min.js"></script>
    <script src="../assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <script src="../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script> -->
    <!-- END CORE JQUERY PLUGINS -->
    <script src="../assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>

    <!-- BEGIN JSPDF -->
    <script src="../assets/global/plugins/jspdf/dist/jspdf.debug.js"></script>
    <script src="../assets/global/plugins/jspdf/plugins/from_html.js"></script>
    <!-- <script src="../assets/global/scripts/jspdf.min.js"></script> -->

    <!--
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/ace.js" type="text/javascript" charset="utf-8"></script> -->
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script> -->
    <!-- <script src="app/editor.js" type="text/javascript"></script> -->

    <!-- <script type="text/javascript" src="../lib/tinymce-angular/bower_components/tinymce/tinymce.js"></script> -->

    <!-- BEGIN CORE ANGULARJS PLUGINS -->
    <script src="../assets/global/plugins/angularjs/angular.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/angularjs/angular-1.5.8/i18n/angular-locale_pt-br.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/angularjs/angular-sanitize.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/angularjs/angular-touch.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/angularjs/angular-animate.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/angularjs/angular-aria.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/angularjs/angular-messages.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/angularjs/plugins/angular-ui-router.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/angularjs/plugins/ocLazyLoad.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/angularjs/plugins/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/angular-material/angular-material.min.js"></script>
    <!-- END CORE ANGULARJS PLUGINS -->

    <!-- <script type="text/javascript" src="../lib/tinymce-angular/bower_components/angular-ui-tinymce/src/tinymce.js"></script> -->

    <!-- BEGIN LIB SCRIPTS -->
    <script type="text/javascript" src="../lib/devexpress/js/cldr.js"></script>
    <script type="text/javascript" src="../lib/devexpress/js/cldr/event.min.js"></script>
    <script type="text/javascript" src="../lib/devexpress/js/cldr/supplemental.min.js"></script>

    <script type="text/javascript" src="../lib/devexpress/js/globalize.js"></script>
    <script type="text/javascript" src="../lib/devexpress/js/globalize/message.min.js"></script>
    <script type="text/javascript" src="../lib/devexpress/js/globalize/number.min.js"></script>
    <script type="text/javascript" src="../lib/devexpress/js/globalize/currency.min.js"></script>
    <script type="text/javascript" src="../lib/devexpress/js/globalize/date.min.js"></script>
    <script src="../lib/devexpress/js/dx.all.js" type="text/javascript"></script>
    <script type="text/javascript" src="../lib/devexpress/js/localization/dx.all.pt.js"></script>
    <script type="text/javascript">
        $.when(
            $.getJSON("../lib/devexpress/js/globalize/json/ca-gregorian.json"),
            $.getJSON("../lib/devexpress/js/globalize/json/numbers.json"),
            $.getJSON("../lib/devexpress/js/globalize/json/currencies.json"),
            $.getJSON("../lib/devexpress/js/globalize/json/supplemental/likelySubtags.json"),
            $.getJSON("../lib/devexpress/js/globalize/json/supplemental/timeData.json"),
            $.getJSON("../lib/devexpress/js/globalize/json/supplemental/weekData.json"),
            $.getJSON("../lib/devexpress/js/globalize/json/supplemental/currencyData.json"),
            $.getJSON("../lib/devexpress/js/globalize/json/supplemental/numberingSystems.json")
        ).then(function() {
            return [].slice.apply(arguments, [0]).map(function(result) {
                return result[0];
            });
        }).then(Globalize.load).then(function() {
            Globalize.locale('pt');
        });
    </script>
    <script src="../lib/angular-jwt/angular-jwt.min.js" type="text/javascript"></script>
    <script src="../lib/tv4/tv4.min.js" type="text/javascript"></script>
    <!-- <script src="../lib/ref-parser/ref-parser.min.js" type="text/javascript"></script> -->
    <script src="../lib/xdata/xdata-angular.js" type="text/javascript"></script>
    <script src="../lib/simplesi/si.datasource.js" type="text/javascript"></script>
    <script src="../lib/simplesi/si.grid.js" type="text/javascript"></script>
    <script src="../lib/simplesi/si.lookup.js" type="text/javascript"></script>
    <script src="../lib/simplesi/si.selectbox.js" type="text/javascript"></script>
    <script src="../lib/simplesi/si.auth.js" type="text/javascript"></script>
    <script src="../lib/simplesi/si.core.js" type="text/javascript"></script>
    <script src="../lib/simplesi/si.dialog.js" type="text/javascript"></script>
    <script src="../lib/simplesi/si.utils.js" type="text/javascript"></script>
    <script src="../lib/simplesi/schema/SchemaService.js" type="text/javascript"></script>
    <script src="../lib/simplesi/schema/SchemaDevExpressService.js" type="text/javascript"></script>
    <script src="../lib/sweetalert/dist/sweetalert.min.js" type="text/javascript"></script>

    <!-- BEGIN CKEDITOR  -->
    <script src="../assets/global/plugins/angular-ckeditor/bower_components/ckeditor/ckeditor.js"></script>
    <script src="../assets/global/plugins/angular-ckeditor/angular-ckeditor.js"></script>
    <!-- END CKEDITOR  -->

    <!-- BEGIN JSPDF  -->

    <!-- <script type="text/javascript">
        $('#exportar').click(function() {
          var doc = new jsPDF('landscape', 'pt', 'a4');
          doc.addHTML($('#conteudo'), function() {
          doc.save("teste.pdf");
          });
          });
        </script> -->

    <!-- END JSPDF  -->

    <!-- END LIB SCRIPTS -->
    <!-- PREFERENCIAS USUARIO -->
    <!-- BEGIN APP LEVEL ANGULARJS SCRIPTS -->
    <script src="app/app.js" type="text/javascript"></script>
    <script src="app/config.js" type="text/javascript"></script>
    <script src="app/routes.js" type="text/javascript"></script>
    <script src="tpl/directives.js" type="text/javascript"></script>
    <script src="tpl/settings.js" type="text/javascript"></script>
    <!-- <script src="tpl/filters.js" type="text/javascript"></script> -->

    <script src="app/modules/tabelas/DocumentoDocam/DocumentoDocamService.js" type="text/javascript"></script>


    <!-- END APP LEVEL ANGULARJS SCRIPTS -->
    <!-- BEGIN APP LEVEL JQUERY SCRIPTS -->
    <script src="../assets/global/scripts/app.min.js" type="text/javascript"></script>
    <script src="../assets/pages/scripts/ui-buttons.min.js" type="text/javascript"></script>
    <script src="../assets/layouts/layout3/scripts/layout.min.js" type="text/javascript"></script>
    <!-- END APP LEVEL JQUERY SCRIPTS -->
    <!-- END JAVASCRIPTS -->

    <!-- END BODY -->
</body>

</html>
