<div class="container">
  <div class="row">
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="index.html">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Dashboard</span>
        </li>
    </ul>
  </div>
</div>

<div class="note note-info">
    <h3 class="block"><b>Importante!</b></h3>
    <!-- <h1>{{HoraPublicacao}}</h1> -->
    <p> Todos os documentos enviados até as <strong>{{HoraPublicacaoApp|date:'HH:mm'}}</strong> horas, padrão definido pela ABRACAM, serão publicados na data de hoje. </p>
</div>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 purple" href="#">
            <div class="visual">
                <i class="fa fa-globe"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="891">{{countNaoPublicado}}</span>
                </div>
                <br>
                <div class="desc">Documentos Não Publicados </div>
            </div>
        </a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 green" href="#">
            <div class="visual">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="549">{{countPublicados}}</span>
                </div>
                <br>
                <div class="desc"> Documentos Publicados </div>
            </div>
        </a>
    </div>
</div>


<!-- BEGIN GRID ################################################################################################################################################################# -->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-black-sharp">
                    <i class="fa fa-file-text-o font-black-sharp"></i>
                    <span class="caption-subject font-blue-hoki bold uppercase"> Ultimos Documentos</span>
                    <!-- <span class="caption-helper">weekly stats...</span> -->
                </div>
            </div>
            <!--<div class="row">
            <div class="col-md-2 selectServidor" dx-select-box="selectAnoReceitaSettings"></div>
          </div>-->
            <div class="portlet-body">
                <div id="grid" dx-data-grid="gridDocumentosSettings"></div>
            </div>

            <br>

            <div class="portlet-footer">

                <b>Legendas</b>

                <br><br>

                <ul class="nav nav-pills">
                    <li style="margin-right: 20px;">
                        <!-- <a href="javascript:;"> -->
                            <span class="badge badge-default bg-purple" style="font-size: 1px; color: transparent; border-radius:0px !important;">.</span>
                            Enviado
                        <!-- </a> -->
                    </li>
                    <li style="margin-right: 20px;">
                        <!-- <a href="javascript:;"> -->
                            <span class="badge badge-default bg-blue-soft" style="font-size: 1px; color: transparent; border-radius:0px !important;">.</span>
                            Na Fila
                        <!-- </a> -->
                    </li>
                    <li style="margin-right: 20px;">
                        <!-- <a href="javascript:;"> -->
                            <span class="badge badge-danger" style="font-size: 1px; color: transparent; border-radius:0px !important;">.</span>
                            Retirado da Fila
                        <!-- </a> -->
                    </li>
                    <li style="margin-right: 20px;">
                        <!-- <a href="javascript:;"> -->
                            <span class="badge badge-primary bg-yellow-casablanca" style="font-size: 1px; color: transparent; border-radius:0px !important;">.</span>
                            Processando
                        <!-- </a> -->
                    </li>

                    <li style="margin-right: 20px;">
                        <!-- <a href="javascript:;"> -->
                            <span class="badge badge-success bg-blue-madison" style="font-size: 1px; color: transparent; border-radius:0px !important;">.</span>
                            Processado
                        <!-- </a> -->
                    </li>

                    <li style="margin-right: 20px;">
                        <!-- <a href="javascript:;"> -->
                            <span class="badge badge-success bg-green-meadow" style="font-size: 1px; color: transparent; border-radius:0px !important;">.</span>
                            Publicado
                        <!-- </a> -->
                    </li>
                </ul>
            </div>
        </div>
        <!-- END Portlet PORTLET-->
    </div>
</div>
<!-- END GRID -->



<!--
ORG CHART
=========================================-->
<!--
<form method="post" ng-controller="InicioController">
  <textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea>

</form> -->


<!-- <div class="row">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12" style="margin-top:25px; position:relative; overflow-x: auto; overflow-y: auto;">
              <div class="tree">
                  <ul>
                      <li>
                          <a href="#">
                              <div class="container-fluid">
                                  <div class="row">
                                      <h4>Prefeitura Municipal</h4>
                                  </div>
                                  <div class="row" style="margin-top: 25px;">
                                      <i class="fa fa-exclamation-circle fa-2x"></i>
                                  </div>
                                  <div class="row">
                                      <p>Jose Tavares Neto</p>
                                  </div>
                              </div>

                          </a>
                          <ul>
                              <li>
                                  <a href="#">

                                      <div class="container-fluid">
                                          <div class="row">
                                              <h5>Sec. Administração</h5>
                                          </div>
                                          <div class="row" style="margin-top: 25px;">
                                              <i class="fa fa-exclamation-circle fa-2x"></i>
                                          </div>
                                          <div class="row">
                                              <p>Jose Tavares Neto</p>
                                          </div>
                                      </div>

                                  </a>
                              </li>
                              <li>
                                  <a href="#">

                                    <div class="container-fluid">
                                        <div class="row">
                                            <h5>Sec. Administração</h5>
                                        </div>
                                        <div class="row" style="margin-top: 25px;">
                                            <i class="fa fa-exclamation-circle fa-2x"></i>
                                        </div>
                                        <div class="row">
                                            <p>Jose Tavares Neto</p>
                                        </div>
                                    </div>

                                  </a>
                                  <ul>
                                      <li>
                                          <a href="#">

                                              <div class="container-fluid">
                                                  <div class="row">
                                                      Junta. Administrativa
                                                  </div>
                                                  <div class="row" style="margin-top: 25px;">
                                                      <i class="fa fa-exclamation-circle fa-2x"></i>
                                                  </div>
                                                  <div class="row">
                                                      3 Failed Tests
                                                  </div>
                                              </div>

                                          </a>
                                      </li>
                                      <li>
                                          <a href="#">

                                              <div class="container-fluid">
                                                  <div class="row">
                                                      Junta Contabil
                                                  </div>
                                                  <div class="row" style="margin-top: 25px;">
                                                      <i class="fa fa-exclamation-circle fa-2x"></i>
                                                  </div>
                                                  <div class="row">
                                                      2 Failed Tests
                                                  </div>
                                              </div>

                                          </a>
                                      </li>
                                      <li>
                                          <a href="#">

                                              <div class="container-fluid">
                                                  <div class="row">
                                                      Junta Financeira
                                                  </div>
                                                  <div class="row" style="margin-top: 25px;">
                                                      <i class="fa fa-exclamation-circle fa-2x"></i>
                                                  </div>
                                                  <div class="row">
                                                      2 Failed Tests
                                                  </div>
                                              </div>

                                          </a>
                                      </li>
                                  </ul>
                              </li>


                              <li>
                                  <a href="#">

                                      <div class="container-fluid">
                                          <div class="row">
                                              <h5>Sec. Administração</h5>
                                          </div>
                                          <div class="row" style="margin-top: 25px;">
                                              <i class="fa fa-exclamation-circle fa-2x"></i>
                                          </div>
                                          <div class="row">
                                              <p>Jose Tavares Neto</p>
                                          </div>
                                      </div>

                                  </a>
                              </li>

                              <li>
                                  <a href="#">

                                      <div class="container-fluid">
                                          <div class="row">
                                              <h5>Sec. Administração</h5>
                                          </div>
                                          <div class="row" style="margin-top: 25px;">
                                              <i class="fa fa-exclamation-circle fa-2x"></i>
                                          </div>
                                          <div class="row">
                                              <p>Jose Tavares Neto</p>
                                          </div>
                                      </div>

                                  </a>
                              </li>

                              <li>
                                  <a href="#">

                                      <div class="container-fluid">
                                          <div class="row">
                                              <h5>Sec. Administração</h5>
                                          </div>
                                          <div class="row" style="margin-top: 25px;">
                                              <i class="fa fa-exclamation-circle fa-2x"></i>
                                          </div>
                                          <div class="row">
                                              <p>Jose Tavares Neto</p>
                                          </div>
                                      </div>

                                  </a>
                              </li>


                              <li>
                                  <a href="#">

                                    <div class="container-fluid">
                                        <div class="row">
                                            <h5>Sec. Administração</h5>
                                        </div>
                                        <div class="row" style="margin-top: 25px;">
                                            <i class="fa fa-exclamation-circle fa-2x"></i>
                                        </div>
                                        <div class="row">
                                            <p>Jose Tavares Neto</p>
                                        </div>
                                    </div>

                                  </a>
                              </li>


                              <li>
                                  <a href="#">

                                      <div class="container-fluid">
                                          <div class="row">
                                              Online
                                          </div>
                                          <div class="row" style="margin-top: 25px;">
                                              <i class="fa fa-exclamation-circle fa-inv fa-2x"></i>
                                          </div>
                                          <div class="row">
                                              7 Failed Tests
                                          </div>
                                      </div>

                                  </a>
                              </li>
                          </ul>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>

</div> -->
