
<div class="alert alert-warning alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
  <strong>Importante!</strong> Documentos enviados depois das <strong>{{HoraPublicacaoApp}}</strong>  serão publicado no dia seguinte ou na data agendada para a publicação.
</div>
<div id="gridSettings" dx-data-grid="gridSettings"></div>

<!-- PopUp Publicacoes  -->
<div id="popupArquivos" class="popup" dx-popup="popupArquivos">

    <div data-options="dxTemplate: { name:'info' }">
      <!-- r<h3>{{ arquivoLegislacao }}</h3> -->
        <div ng-pdf-object url="arquivoLegislacao" width="100%" height="700"></div>
    </div>
</div>

<div class="portlet-footer">

    <b>Legendas</b>

    <br><br>

    <ul class="nav nav-pills">
        <li style="margin-right: 20px;">
            <!-- <a href="javascript:;"> -->
                <span class="badge badge-default bg-purple" style="font-size: 1px; color: transparent; border-radius:0px !important;">.</span>
                Enviado
            <!-- </a> -->
        </li>
        <li style="margin-right: 20px;">
            <!-- <a href="javascript:;"> -->
                <span class="badge badge-default bg-blue-soft" style="font-size: 1px; color: transparent; border-radius:0px !important;">.</span>
                Na Fila
            <!-- </a> -->
        </li>
        <li style="margin-right: 20px;">
            <!-- <a href="javascript:;"> -->
                <span class="badge badge-danger" style="font-size: 1px; color: transparent; border-radius:0px !important;">.</span>
                Retirado da Fila
            <!-- </a> -->
        </li>
        <li style="margin-right: 20px;">
            <!-- <a href="javascript:;"> -->
                <span class="badge badge-primary bg-yellow-casablanca" style="font-size: 1px; color: transparent; border-radius:0px !important;">.</span>
                Processando
            <!-- </a> -->
        </li>

        <li style="margin-right: 20px;">
            <!-- <a href="javascript:;"> -->
                <span class="badge badge-success bg-blue-madison" style="font-size: 1px; color: transparent; border-radius:0px !important;">.</span>
                Processado
            <!-- </a> -->
        </li>

        <li style="margin-right: 20px;">
            <!-- <a href="javascript:;"> -->
                <span class="badge badge-success bg-green-meadow" style="font-size: 1px; color: transparent; border-radius:0px !important;">.</span>
                Publicado
            <!-- </a> -->
        </li>
    </ul>
</div>
