  <!-- {{entity}} -->
<div class="alert alert-warning alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
  <strong>Importante!</strong> Documentos enviados depois das <strong>{{HoraPublicacaoApp}}</strong> serão publicado no dia seguinte ou na data agendada para a publicação
</div>
<div id="form" dx-form="formOptions">
    <div data-options="dxTemplate:{ name:'fileArquivo' }">
        <button class="btn btn-circle default" ng-click="" ng-show="nomeArquivo"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp; <strong>{{nomeArquivo}}</strong></button>
        <div id="fileUploaderArquivo" class="fileuploader-container fileuploader-container-margin10" dx-file-uploader="fileUploaderArquivo"></div>
    </div>
</div>
