{{entity}}
<div id="form" dx-form="formOptions">

  <div data-options="dxTemplate:{name:'divLogomarca'}">
      <div dx-gallery="galleryLogomarca" dx-item-alias="galleryItem">
          <div data-options="dxTemplate: {name: 'item'}">
              <div>
                  <img ng-src="{{galleryItem.imageSrc}}"  alt="Nenhuma Logomarca" style="max-height: 160px;" />
                  <div class="item-address">{{galleryItem.name}}
                  </div>
              </div>
          </div>
      </div>
      <div id="fileUploaderLogomarca" class="fileuploader-container" dx-file-uploader="fileUploaderLogomarca"></div>
      <br/>
      <!-- <input type="button" ng-if="habilitarBotaoRemoverLogomarca()" class="btn btn-danger" ng-click="removerLogomarca()" value="Remover Logomarca"/> -->
  </div>

  <div data-options="dxTemplate:{name:'divMarcaDagua'}">
      <div dx-gallery="galleryMarcaDagua" dx-item-alias="galleryItem">
          <div data-options="dxTemplate: {name: 'item'}">
              <div>
                  <img ng-src="{{galleryItem.imageSrc}}" alt="Nenhum Marca D'agua" style="max-height: 160px;"/>
                  <div class="item-address">{{galleryItem.name}}
                  </div>
              </div>
          </div>
      </div>
      <div id="fileUploaderMarcaDagua" class="fileuploader-container" dx-file-uploader="fileUploaderMarcaDagua"></div>
      <br/>
      <!-- <input type="button" ng-if="habilitarBotaoRemoverMarcaDagua()" class="btn btn-danger" ng-click="removerMarcaDagua()" value="Remover Banner" /> -->
  </div>


  <div data-options="dxTemplate: { name:'textCkEditor' }">
      <!-- <div ckeditor="CKEditorOptions"  id="" ng-model="entity.Competencia" ready="onReady()" readonly="true"></div> -->
      <div ckeditor="CKEditorOptions"  id="" ng-model="entity.Competencia" ready="onReady()" readonly=""></div>
  </div>
</div>

<!-- <div id="form" dx-form="formOptions">
  <div data-options="dxTemplate: { name: 'formParametros'} ">
    <div id="formParametrosSettings" dx-form="formParametrosSettings"></div>
  </div>
</div> -->
