
<div id="form" dx-form="formOptions">

</div>
<!-- 
<div ui-tinymce="tinymceOptions" ng-model="text" dx-text-area="{
        height: 300,
        bindingOptions: {
            disabled: 'textAreaDisabled'
        }
    }"></div> -->
