<!-- BEGIN MEGA MENU -->
<!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
<!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
<div class="hor-menu">
    <ul class="nav navbar-nav">


        <li class="menu-dropdown classic-menu-dropdown ">
            <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="#/inicio" >
                <i class="icon-home"></i>
                Dashboard
            </a>
        </li>

        <li class="menu-dropdown classic-menu-dropdown " ng-class="{'start active': menu.start}" ng-repeat="menu in settings.menu" >
            <a ng-href="{{!!menu.itens?'#':menu.state}}" data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown">
                <i class="{{menu.icon}}"></i>
                <span class="title">{{menu.menu}}</span>
                <span class="fa fa-angle-down" ng-if="!!menu.itens"></span>

            </a>
            <ul class="dropdown-menu pull-left " ng-if="!!menu.itens">
                <li ng-repeat="subitem in menu.itens">
                    <a ng-href="{{subitem.state}}" ng-hide="subitem.click">
                        <i class="{{subitem.icon}}"></i> {{subitem.menu}}</span>
                    </a>

                    <a ng-href="{{subitem.state}}" ng-show="subitem.click" ng-if="subitem.entity === 'cliente'" ng-click="clienteListar()">
                        <i class="{{subitem.icon}}"></i> {{subitem.menu}}</span>
                    </a>



                    <a ng-href="{{subitem.state}}" ng-show="subitem.click" ng-if="subitem.entity === 'orcamento'" ng-click="editarOrcamento()">
                        <i class="{{subitem.icon}}"></i> {{subitem.menu}}</span>
                    </a>

                </li>


            </ul>
        </li>

    

    </ul>

</div>
<!-- END MEGA MENU -->
