<div class="page-title">
    <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm" data-container="body" data-placement="top"  data-original-title="Para mudar de empresa clique aqui." ng-click="showPopupEmpresa();">
        <i class="fa fa-university" aria-hidden="true"></i>&nbsp;
        <span class="thin uppercase hidden-xs font-blue-sharp"><strong>{{EmpresaAtual.nome + ' - '}}</strong><span class="font-dark">{{empresaAtualCnpj}}</span></span>&nbsp;
    </div>
</div>
<!-- END PAGE TITLE -->
<!-- BEGIN PAGE TOOLBAR -->

<div class="page-toolbar" style="margin-right:5px;">
    <br>
    <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm" data-container="body" data-placement="top"  data-original-title="Ajustar tela, largura da pagina." ng-click="ajustarRecolucao();">
        <i class="fa fa-desktop" aria-hidden="true"></i>&nbsp;
    </div>
</div>
