<!-- BEGIN POPUPS -->
<div class="popup2" dx-popup="PopupExercicio">
    <div data-options="dxTemplate: { name:'info' }">
        <div class="dx-field">
            <div class="dx-field-label" ng-bind="fieldLabelAno"></div>
            <div class="dx-field-value">
                <div dx-select-box="selectBoxExercicio"></div>
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label" ng-bind="fieldLabelMes"></div>
            <div class="dx-field-value">
                <div dx-select-box="selectBoxCompetencia"></div>
            </div>
        </div>
    </div>
</div>

<!-- Muda Empresas -->
<div class="popup2" dx-popup="PopupEmpresa">
    <div data-options="dxTemplate: { name:'infoEmpresa' }">
        <div class="dx-field-label" ng-bind="fieldLabelEmpresa"></div>
        <div class="dx-field-value">
            <div dx-select-box="selectBoxEmpresa"></div>
        </div>
    </div>
</div>

<!-- Novo competencia -->
<div dx-popup="PopupNovoExercicio">
    <div data-options="dxTemplate: { name:'PopupNovoExercicio' }">
        <div id="form" dx-form="formOptionsNovoExercicio">
        </div>
    </div>
</div>
<!-- END POPUPS -->
